Form Page

<form>
    <input type="radio" name="time" value="10" checked>
  10mins<br>
    <input type="radio" name="time" value="15">
  15mins<br>
    <input type="radio" name="time" value="30">
  30mins<br>
    <input type="radio" name="time" value="60">
  1 hour<br>
    <input type="radio" name="time" value="120">
  2 hours<br>

  <br><br>

    <input type="radio" name="where" value="indoor"
</form>
