<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <ul>
    {{#each activities}}
      <li>{{activity}} ({{time}})</li>
    {{/each}}
    </ul>
  </body>
</html>
